<div class="container">
  <h1>Registration</h1>
  <form (ngSubmit)="register()" #registrationForm="ngForm">
    <div class="form-group">
      <label for="uesrname">姓名</label>
      <input type="text" class="form-control" id="uesrname" name="uesrname" [(ngModel)]="model.Username" required>
    </div>

    <div class="form-group">
      <label for="name">电子邮箱</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.Email" required>
    </div>

    <div class="form-group">
      <label for="password">密码</label>
      <input type="text" class="form-control" name="password" [(ngModel)]="model.Password" id="password">
    </div>

    <div class="form-group">
      <label for="ConfirmPassword">确认密码</label>
      <input type="text" class="form-control" name="ConfirmPassword" [(ngModel)]="model.ConfirmPassword" id="confirmPassword">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>

{{diagnostic}}